<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hellosrilanka">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloSriLanka">
        <activity android:name=".REGISTRATION" android:parentActivityName=".MAINMENU"/>
        <activity android:name=".FEEDBACK" android:parentActivityName=".MAINMENU"/>
        <activity android:name=".COVER"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LOGIN" android:parentActivityName=".REGISTRATION"/>
        <activity android:name=".SIGNUP" android:parentActivityName=".LOGIN"/>
        <activity android:name=".PROVINCES" android:parentActivityName=".MAINMENU" />
        <activity android:name=".BUDGETPLANNER" android:parentActivityName=".MAINMENU"/>
        <activity android:name=".SRILANKA" android:parentActivityName=".MAINMENU"/>
        <activity android:name=".PROFILE" android:parentActivityName=".MAINMENU"/>
        <activity android:name=".MAINMENU"
            android:theme="@style/Theme.Design.Light.NoActionBar">
        </activity>

    </application>

</manifest>